header {
  height: 450px;
  background-color: #73afba;;
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: 900;
  //font-family: "Roboto Light";
  .header-wrapper {
    background: url('http://127.0.0.1:3333/assets/pexels-h-emre-773471 1.png');
    width: inherit;
    height: auto;
    position: relative;
    display: flex;
    align-items: flex-end;
    nav{
      position: absolute;
      top: 20px;
      left: 20px;
    }
    .lan_selector{
      position: absolute;
      top: 20px;
      right: 97px;
    }
    .login-wrapper{
      position: absolute;
      top: 28px;
      right: 20px;
    }
    h1{
      color: white;
      font-weight: 700;
      font-family: Roboto;
      font-size: 144px;
      line-height: 130%;
      letter-spacing: 0.06em;
      margin-left: 110px;
    }
    .search-wrapper{
      width: auto;
      display: flex;
      align-items: center;
      position: absolute;
      right: 15px;
      bottom: 30px;
      .form-control {
        border-color: white;
        &:focus{
          border-color: white;
          box-shadow: none !important;
        }
      }
      .clear-btn {
        background: url("http://127.0.0.1:3333/assets/close-24px.svg");
        background-repeat: no-repeat;
        background-color: white;
        background-position-x: center;
        background-position-y: center;
        height: 48px;
        width: 30px;
        border-color: white;
        margin-right: 10px;
        &:hover{
          background: url("http://127.0.0.1:3333/assets/close-red-24px.svg");
          background-repeat: no-repeat;
          background-color: white;
          background-position-x: center;
          background-position-y: center;
          cursor: pointer;
        }
      }
      #basic-addon2{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
    .search-btn {
      background: url("http://127.0.0.1:3333/assets/search-24px.svg");
      height: 50px;
      width: 60px;
      background-size: 50px 50px;
      background-repeat: no-repeat;
      background-color: #dc3545;
      margin: 0;
      padding: 0;
      background-position-x: center;
      background-position-y: center;
      border-radius: 5px !important;
      &:hover{
        transform: scale(1.2);
      }
    }
  }
  a {
    text-decoration: none;
    color: cyan;
  }
}
