.logo-link{
  &:hover {
    text-decoration: none;
    color: cyan;
  }
}
.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    width: 50px;
  }
  p{
    font-family: Roboto;
  }
}