@import '~bootstrap/scss/bootstrap';
// @import '~bootstrap/scss/carousel';
$slick-font-path: '~slick-carousel/slick/fonts/';
$slick-loader-path: '~slick-carousel/slick/';
@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';

@import 'abstract/constants';
//Base

@import 'base/base';
// @import 'base/logo';
//Layouts
@import 'layouts/header';
@import 'layouts/footer';

//components

@import 'components/galery';
@import 'components/lanSelector';
@import 'components/card';
@import 'components/widgets';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700;1,900&display=swap');

.main_wrapper {
  position: relative;
}
