.foto-galery {
  max-width: 1200px;
  margin: 30px;
}
.center {
  opacity: 0.5;
}
.gallery-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  .carousel {
    max-width: 600px;
  }
}
.thumbnail-slider-wrap {
  margin-top: 15px;
}
.thumbnail-slider-wrap .slick-track .slick-slide {
  text-align: center;
}
.thumbnail-slider-wrap .slick-track .slick-slide img {
  width: 70%;
}

.slick-active {
  opacity: 1 !important;
  border-radius: 50px;
}
.slick-center {
  img {
    border: 4px double black;
  }
}

.slick-slide {
  display: flex !important;
  justify-content: center;
}

.text-slide {
  display: flex;
  flex-direction: column;
}
.main-slide {
  display: flex;
}

.card-slide {
  .card-slide-img {
    max-width: 70%;
  }
}

.slick-prev:before,
.slick-next:before {
  color: #73afba;
}
