.wrapper-raiting {
}

.raiting-set-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
  .rating-input {
    width: 100%;
    .input-group-append {
      .btn{
        border: none;
        background-color: $color-base;
        &:hover{
          background-color: $color-logo;
        }
      }
    }
  }
}
.all-rating {
  margin-top: 10px;
  background-color: #73afba;
}
.rating-star {
  display: flex;
  img {
    width: 50px;
    height: 50px;
  }
}

.all-rating-wrapper {
  max-height: 600px;
  overflow-y: auto;
  margin: 10px 15px;
  &::-webkit-scrollbar {
    width: 6px;
    margin-left: 3px;
    background-color: rgba(255, 255, 255, 0);
  }
  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(115, 175, 186, 0.5);
  }
  .card-body{
    padding: 1rem 0.2rem;
  }
}

.card-raiting {
  display: flex;
  justify-content: space-between;
  .card-ratting-login {
    .img-out {
      border: solid 3px rgb(83, 90, 90);
    }
    span {
      margin-left: 10px;
    }
  }
}
