.video-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem;
  position: relative;
  padding-top: 56.25%;
  .player {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.video-text {
  @include basicText;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  margin-left: 2rem;
}
